body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#addButton {
    cursor: pointer;
}

#addButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.disabled-label {
    color: #ccc;
}

/* テーブル関連 */
.button-container {
    display: flex;  /* 子要素を横並びに配置 */
    justify-content: space-between; /* 左右(左端と右端)に配置 */
    margin-top: 10px; /* 親要素の余白 */
}
#deleteCheckedItemsButton {
    padding: 5px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deleteAllButton {
    padding: 5px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deleteCheckedItemsButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#deleteAllButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* テーブル列幅を固定 */
#itemTable {
    table-layout: fixed; /* テーブルの列幅を固定 */
    width: 100%; /* テーブル全体を幅いっぱいに */
    margin-top: 20px;
}

#itemTable th,
#itemTable td {
    word-wrap: break-word; /* テキストがセル幅を超えた場合に折り返す */
    overflow: hidden; /* テキストがセル幅を超えた部分を非表示に */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background-color: #f4f4f4;
}

/* 各列の幅 */
/* PC向けのスタイル */
@media (min-width: 1025px) {
    #thCheckbox { width: 3%; }
    #thCategory { width: 7%; }
    #thItemName { width: 10%; }
    #thIdentifiedItemName { width: 10%; }
    #thBuyPrice { width: 5%; }
    #thSellPrice { width: 5%; }
    #thCandidates { width: 60%; }
}

/* スマートフォン向けのスタイル */
@media (max-width: 600px) {
    #thCheckbox { width: 4%; }
    #thCategory { width: 12%; }
    #thItemName { width: 18%; }
    #thIdentifiedItemName { width: 18; }
    #thBuyPrice { width: 8%; }
    #thSellPrice { width: 8%; }
    #thCandidates { width: 30%; }
    
}
/* タブレット向けのスタイル */
@media (min-width: 601px) and (max-width: 1024px) {
    #thCheckbox { width: 4%; }
    #thCategory { width: 10%; }
    #thItemName { width: 15%; }
    #thIdentifiedItemName { width: 15%; }
    #thBuyPrice { width: 7%; }
    #thSellPrice { width: 7%; }
    #thCandidates { width: 42%; }
}

.candidatesForShow {
    white-space: pre-wrap; /* テキストを改行ありにする */
}

/* ポップアップウィンドウのスタイル */
.popup-window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.popup-content div {
    margin-bottom: 15px;
}

.popup-content input[type="checkbox"] :disabled,
.popup-content input[type="radio"] :disabled {
    background-color: #ccc;
}

#saveDetails {
    cursor: pointer;
}

#saveDetails:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

#errorMessageNameUsed {
    display: none;
}

#errorMessagePriceNotFound {
    display: none;
}
